! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---

*background: #000000
*foreground: #c8daed

! --- standard colors ---

! black
*color0: #1b1b1b

! bright_black
*color8: #353535

! red
*color1: #502028

! bright_red
*color9: #b74a5c

! green
*color2: #285020

! bright_green
*color10: #5cb74a

! yellow
*color3: #504820

! bright_yellow
*color11: #b7a54a

! blue
*color4: #202850

! bright_blue
*color12: #4a5cb7

! magenta
*color5: #482050

! bright_magenta
*color13: #a54ab7

! cyan
*color6: #205048

! bright_cyan
*color14: #4ab7a5

! white
*color7: #808080

! bright_white
*color15: #f1f1f1


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------

